h3 {
    padding-bottom: 2em;
    justify-content: center;
}

main {
    display: inline-flex;
}

.ingredients {
    /* background-color: blue; */
    width: 50%;
    place-content: right;
}

.ingIcon {
    height: 3em;
    padding-left: 1em;
    padding-right: 1em;
}

.curSand {
    width: 36em;
    display: inline;
}

.saved {
    display: block;
}

.savedIng {
    display: inline;
}

.savedTable {
    display: inline;
}

.starImg {
    height: 10vh;
}

/* media queries */
td.starred:hover {
    cursor: pointer;
    background-color: lightblue;
}