h3 {
    padding-bottom: 2em;
    justify-content: center;
}

main {
    display: inline-flex;
}

.ingredients {
    /* background-color: blue; */
    width: 50%;
    place-content: right;
    padding-right: 2%;
    padding-left: 2%;
}

.ingIcon {
    height: 3em;
    padding-left: 1em;
    padding-right: 1em;
}

.cursand {
    width: 36em;
    display: inline;
    padding-left: 2%;
}

.saveclearbtns {
  width: 50%;
}

#clearbtn {
  margin-top: 14%;
}

.saved {
    display: block;
    padding-right: 2%;
}

.savedIng {
    display: inline;
}

.savedTable {
    display: inline;
}

.starImg {
    height: 10vh;
}

#ingTable td {
    width: 42%;
}

/* media queries */
td.starred:hover {
    cursor: pointer;
    background-color: lightblue;
}

@media screen and (max-width: 1320px) {
  main {
    
    padding-left: 2%;
  }
}

@media screen and (max-width: 1320px) {
    .cursand {
      width: 3em;
      padding-left: 0%;
      padding-bottom: 2%;
      display: block;
    }
  }

  @media screen and (max-width: 1320px) {
    #clearbtn {
      margin-top: 20%;
    }
  }

  @media screen and (max-width: 1320px) {
    #name {
      width: 17em;
    }
  }

  @media screen and (max-width: 1320px) {
    .ingredients {
      width: 3em;
      padding-left: 0%;
    }
  }

  @media screen and (max-width: 1320px) {
    #ingSearch {
      width: 17em;
    }
  }

  @media screen and (max-width: 1320px) {
    .saved {
      width: 100%;
      display: block;
      padding-left: 0%;
    }
  }

  @media screen and (max-width: 1320px) {
    main {
      display: block;
    }
  }

